apiVersion: apps/v1
kind: Deployment
metadata:
  name: stocks-web-frontend
  namespace: stocks-web
  labels:
    app: stocks-web-frontend
    app.kubernetes.io/component: frontend
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: stocks-web-frontend
  template:
    metadata:
      labels:
        app: stocks-web-frontend
        app.kubernetes.io/component: frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/joshbaneycs/stocks-web-frontend:latest
          ports:
            - containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /nginx-health
              port: 80
            periodSeconds: 30
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
